    <!-- Make customer Start-->
    {% load static %}
    <section class="make-customer-area customar-padding fix">
        <div class="container-fluid p-0">
            <div class="row">
               <div class="col-xl-5 col-lg-6">
                    <div class="customer-img mb-120">
                        <img src="{% static 'assets/img/customer/hml1.jpg' %}" class="customar-img1" alt="">
                        <img src="{% static 'assets/img/customer/hml2.png' %}" class="customar-img2" alt="">
                        <div class="service-experience heartbeat">
                            <h3>Our Years of Service<br>Experience</h3>
                        </div>
                    </div>
               </div>
                <div class=" col-xl-4 col-lg-4">
                    <div class="customer-caption">
                        <span>About Hotel Margherita</span>
                        <h2>Make the customer the hero of your story</h2>
                        <div class="caption-details">
                            <p class="pera-dtails">Lorem ipsum dolor sit amet, consectetur adipisic- ing elit, sed do eiusmod tempor inc. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                            <a href="#" class="btn more-btn1">Learn More <i class="ti-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Make customer End-->