<!-- Booking Room Start-->
<div class="booking-area">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <form action="">
                    <div class="booking-wrap d-flex justify-content-between align-items-center">
                        {% csrf token %}
                        {{form.as_p}}
                        <!-- Single Select Box -->
                        <div class="single-select-box pt-45 mb-30">
                            <a href="#" class="btn select-btn">Book Now</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Booking Room End-->