<!-- Room Start -->
<section class="room-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <!--font-back-tittle  -->
                <div class="font-back-tittle mb-45">
                    <div class="archivment-front">
                        <h3>Our Rooms</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for rs in rooms %}
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-room mb-50">
                    <div class="room-img">
                        <a href="rooms.html"> <img src="{{rs.image.url}}" alt=""></a>
                    </div>
                    <div class="room-caption">
                        <h3><a href="rooms.html">{{rs.title}}</a></h3>
                        <div class="per-night">
                            <span><u>$</u>{{rs.price}} <span>/ per night</span></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="room-btn pt-70">
                <a href="#" class="btn view-btn1">View more <i class="ti-angle-right"></i> </a>
            </div>
        </div>
    </div>

</section>
<!-- Room End -->